<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Abbiamo bisogno della tua posizione per calcolare il percorso.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Abbiamo bisogno della tua posizione anche quando l&apos;app è in background.</string>
</dict>
</plist>
